@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
      <!-- Page Title -->
      <section class="page-title">
        <div class="background-container">
          <img class="left-image" src="~/customer-assets/images/background/header-left-bg.png" alt="" />
          <img class="right-image" src="~/customer-assets/images/background/5.jpg" alt="" />
        </div>
        <div class="service-container">
          <div class="section-icons-outer parallax-scene-1">
            <div data-depth="0.20" class="pattern-layer" style="background-image: url('@Url.Content("~/customer-assets/images/background/pattern-8.png")')">
            </div>
          </div>

          <div class="auto-container">
            <h1>Services</h1>
            <ul class="page-breadcrumb">
              <li><a href="index-2.html">home</a></li>
              <li>Services</li>
            </ul>
          </div>
        </div>
      </section>
      <!-- End Page Title -->

      <!-- Services Section -->
      <section class="services-section">
        <div class="auto-container">
          <!-- Sec Title -->
          <div class="sec-title centered">
            <h2>We ensure best insurance services</h2>
            <div class="text">
              We are a professional and creative company and we <br />
              offer you a trusty insurance on your veicle.
            </div>
          </div>
          <!-- End Sec Title -->
          <div class="inner-container">
            <div class="section-icons-outer parallax-scene-2">
              <div data-depth="0.20" class="icon-layer" style="background-image: url('@Url.Content("~/customer-assets/images/icons/icon-1.png")')"></div>
              <div data-depth="0.20" class="pattern-layer"
                style="background-image: url('@Url.Content("~/customer-assets/images/background/pattern-3.png")')"></div>
              <div data-depth="0.20" class="pattern-layer-two style-two"
                style="background-image: url('@Url.Content("~/customer-assets/images/background/pattern-4.png")')"></div>
            </div>
            <div class="row clearfix">
              <!-- Service Block -->
              <div class="service-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                  <div class="image">
                    <a href="services-detail.html"><img src="~/customer-assets/images/resource/service-1.jpg" alt="" /></a>
                  </div>
                  <div class="lower-content">
                    <h4><a href="services-detail.html">Bike Insurance</a></h4>
                    <div class="text">
                      Lorem Ipsum is simply dummy text of sit dolor amlet….
                    </div>
                    <a href="services-detail.html" class="read-more">Read More</a>
                  </div>
                </div>
              </div>

              <!-- Service Block -->
              <div class="service-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                  <div class="image">
                    <a href="services-detail.html"><img src="~/customer-assets/images/resource/service-2.jpg" alt="" /></a>
                  </div>
                  <div class="lower-content">
                    <h4><a href="services-detail.html">Car Insurance</a></h4>
                    <div class="text">
                      Lorem Ipsum is simply dummy text of sit dolor amlet….
                    </div>
                    <a href="services-detail.html" class="read-more">Read More</a>
                  </div>
                </div>
              </div>

              <!-- Service Block -->
              <div class="service-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                  <div class="image">
                    <a href="services-detail.html"><img src="~/customer-assets/images/resource/service-3.jpg" alt="" /></a>
                  </div>
                  <div class="lower-content">
                    <h4>
                      <a href="services-detail.html">Bus/truck Insurance</a>
                    </h4>
                    <div class="text">
                      Lorem Ipsum is simply dummy text of sit dolor amlet….
                    </div>
                    <a href="services-detail.html" class="read-more">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Services Section -->

      <!-- Experiance Section -->
      <section class="experiance-section">
        <div class="auto-container">
          <!-- End Sec Title -->
          <div class="inner-container">
            <div class="section-icons-outer parallax-scene-3">
              <div data-depth="0.20" class="icon-layer" style="background-image: url('@Url.Content("~/customer-assets/images/icons/icon-1.png")')"></div>
              <div data-depth="0.20" class="pattern-layer"
                style="background-image: url('@Url.Content("~/customer-assets/images/background/pattern-3.png")')"></div>
            </div>
            <div class="row clearfix">
              <!-- Image Column -->
              <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                  <div class="image titlt" data-tilt data-tilt-max="2">
                    <img src="~/customer-assets/images/resource/experiance.jpg" alt="" />
                    <span class="triangle-one"></span>
                    <span class="triangle-two"></span>
                  </div>

                  <!-- Fact Counter / Style Two -->
                  <div class="fact-counter style-two">
                    <div class="row clearfix">
                      <!-- Column -->
                      <div class="
                            column
                            counter-column
                            col-lg-6 col-md-6 col-sm-12
                          ">
                        <div class="inner">
                          <div class="content">
                            <div class="count-outer count-box">
                              <span class="count-text" data-speed="3000" data-stop="10">0</span>K+
                            </div>
                            <div class="counter-title">Happy Custormer</div>
                          </div>
                        </div>
                      </div>

                      <!-- Column -->
                      <div class="
                            column
                            counter-column
                            col-lg-6 col-md-6 col-sm-12
                          ">
                        <div class="inner">
                          <div class="content">
                            <div class="count-outer count-box">
                              <span class="count-text" data-speed="4000" data-stop="4.9">0</span>+
                            </div>
                            <div class="rating">
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              &nbsp; (2,894)
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Content Column -->
              <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                  <div class="sec-title light">
                    <h2>More than 10 years Experience</h2>
                    <div class="text">
                      We are a professional and creative company and we offer
                      you a trusty insurance on your veicle.
                    </div>
                  </div>
                  <div class="list-outer">
                    <ul class="experiance-list">
                      <li>
                        <span class="icon flaticon-horse"></span>
                        <strong>Strategy</strong>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem
                      </li>
                      <li>
                        <span class="icon flaticon-shopping-cart-4"></span>
                        <strong>Market value</strong>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem
                      </li>
                      <li>
                        <span class="icon flaticon-megaphone-1"></span>
                        <strong>Marketing</strong>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem
                      </li>
                      <li>
                        <span class="icon flaticon-relations"></span>
                        <strong>Relations</strong>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Experiance Section -->

      <!-- Skill Section -->
      <section class="skill-section">
        <div class="auto-container">
          <div class="inner-container">
            <div class="section-icons-outer parallax-scene-4">
              <div data-depth="0.30" class="pattern-layer"
                style="background-image: url('@Url.Content("~/customer-assets/images/background/pattern-4.png")')"></div>
            </div>
            <div class="row clearfix">
              <!-- Skill Column -->
              <div class="skill-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                  <div class="parallax-scene-5">
                    <div data-depth="0.80" class="icon-layer" style="background-image: url('@Url.Content("~/customer-assets/images/icons/icon-1.png")')">
                    </div>
                  </div>
                  <!-- Sec Title -->
                  <div class="sec-title">
                    <h2>
                      The operational <br />
                      processes of Carsore
                    </h2>
                    <div class="text">
                      We are a professional and creative company and we offer
                      you a trusty insurance on your veicle.
                    </div>
                  </div>

                  <!-- Skills -->
                  <div class="skills">
                    <!-- Skill Item -->
                    <div class="skill-item">
                      <div class="skill-header clearfix">
                        <div class="skill-title">Strategy Consulting</div>
                        <div class="skill-percentage">
                          <div class="count-box">
                            <span class="count-text" data-speed="2000" data-stop="90">0</span>%
                          </div>
                        </div>
                      </div>
                      <div class="skill-bar">
                        <div class="bar-inner">
                          <div class="bar progress-line" data-width="90"></div>
                        </div>
                      </div>
                    </div>

                    <!-- Skill Item -->
                    <div class="skill-item">
                      <div class="skill-header clearfix">
                        <div class="skill-title">Market value</div>
                        <div class="skill-percentage">
                          <div class="count-box">
                            <span class="count-text" data-speed="2000" data-stop="80">0</span>%
                          </div>
                        </div>
                      </div>
                      <div class="skill-bar">
                        <div class="bar-inner">
                          <div class="bar progress-line" data-width="80"></div>
                        </div>
                      </div>
                    </div>

                    <!-- Skill Item -->
                    <div class="skill-item">
                      <div class="skill-header clearfix">
                        <div class="skill-title">Marketing</div>
                        <div class="skill-percentage">
                          <div class="count-box">
                            <span class="count-text" data-speed="2000" data-stop="70">0</span>%
                          </div>
                        </div>
                      </div>
                      <div class="skill-bar">
                        <div class="bar-inner">
                          <div class="bar progress-line" data-width="70"></div>
                        </div>
                      </div>
                    </div>

                    <!-- Skill Item -->
                    <div class="skill-item">
                      <div class="skill-header clearfix">
                        <div class="skill-title">Relations</div>
                        <div class="skill-percentage">
                          <div class="count-box">
                            <span class="count-text" data-speed="2000" data-stop="60">0</span>%
                          </div>
                        </div>
                      </div>
                      <div class="skill-bar">
                        <div class="bar-inner">
                          <div class="bar progress-line" data-width="60"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Image Column -->
              <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                  <div class="image">
                    <div class="triangle-one"></div>
                    <div class="triangle-two"></div>
                    <img src="~/customer-assets/images/resource/skill.jpg" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Skill Section -->

      <!-- Choose Section -->
      <section class="choose-section">
        <div class="auto-container">
          <!-- Sec Title -->
          <div class="sec-title light centered">
            <div class="title">why us</div>
            <h2>Why Chose Us</h2>
          </div>
          <!-- End Sec Title -->
          <div class="inner-container">
            <div class="section-icons-outer parallax-scene-6">
              <div data-depth="0.20" class="icon-layer" style="background-image: url('@Url.Content("~/customer-assets/images/icons/icon-1.png")')"></div>
              <div data-depth="0.20" class="pattern-layer"
                style="background-image: url(~/customer-assets/images/background/pattern-3.png)"></div>
              <div data-depth="0.20" class="pattern-layer-two"
                style="background-image: url(~/customer-assets/images/background/pattern-4.png)"></div>
            </div>
            <div class="row clearfix">
              <!-- Image Column -->
              <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                  <div class="image titlt" data-tilt data-tilt-max="2">
                    <img src="~/customer-assets/images/resource/choose.jpg" alt="" />
                    <span class="triangle-one"></span>
                    <span class="triangle-two"></span>
                    <!-- Fact Counter -->
                    <div class="fact-counter">
                      <div class="row clearfix">
                        <!-- Column -->
                        <div class="
                              column
                              counter-column
                              col-lg-4 col-md-4 col-sm-4
                            ">
                          <div class="inner">
                            <div class="content">
                              <div class="count-outer count-box">
                                <span class="count-text" data-speed="3000" data-stop="100">0</span>%
                              </div>
                              <div class="counter-title">
                                Customer <br />
                                satisfaction
                              </div>
                            </div>
                          </div>
                        </div>

                        <!--Column-->
                        <div class="
                              column
                              counter-column
                              col-lg-4 col-md-4 col-sm-4
                            ">
                          <div class="inner">
                            <div class="content">
                              <div class="count-outer count-box">
                                <span class="count-text" data-speed="4000" data-stop="200">0</span>+
                              </div>
                              <div class="counter-title">
                                Monthly active <br />
                                users
                              </div>
                            </div>
                          </div>
                        </div>

                        <!--Column-->
                        <div class="
                              column
                              counter-column
                              col-lg-4 col-md-4 col-sm-4
                            ">
                          <div class="inner">
                            <div class="content">
                              <div class="count-outer count-box">
                                <span class="count-text" data-speed="3000" data-stop="100">0</span>+
                              </div>
                              <div class="counter-title">
                                New Customer <br />
                                per week
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Content Column -->
              <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                  <div class="text">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the simply
                    dummy text of industry's standard dummy, lorem ipsum
                    dolor.
                  </div>
                  <div class="list-outer">
                    <ul class="choose-list">
                      <li>
                        <span class="number">1</span>
                        <strong>Compare personalized quotes</strong>
                        Answer a couple of questions, we'll provide accurate
                        live
                      </li>
                      <li>
                        <span class="number">2</span>
                        <strong>Get all discounts in one place</strong>
                        Answer a couple of questions, we'll provide accurate
                        live
                      </li>
                      <li>
                        <span class="number">3</span>
                        <strong>Buy online or on the phone</strong>
                        Answer a couple of questions, we'll provide accurate
                        live
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Choose Section -->

      <!-- Pricing Section -->
      <section class="pricing-section">
        <div class="auto-container">
          <!-- Sec Title -->
          <div class="sec-title centered">
            <h2>
              Chose a Best Plan for your <br />
              vehicle
            </h2>
            <div class="text">
              We are a professional and creative company and we offer <br />
              you a trusty insurance on your veicle.
            </div>
          </div>
          <!-- End Sec Title -->
          <div class="inner-container">
            <div class="section-icons-outer parallax-scene-7">
              <div data-depth="0.20" class="icon-layer" style="background-image: url(~/customer-assets/images/icons/icon-1.png)"></div>
              <div data-depth="0.40" class="pattern-layer"
                style="background-image: url(~/customer-assets/images/background/pattern-4.png)"></div>
            </div>
            <div class="row clearfix">
              <!-- Price Block -->
              <div class="price-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                  <div class="upper-box" style="background-image: url(~/customer-assets/images/resource/price.png)">
                    <h4>Basic</h4>
                  </div>
                  <div class="price">$50<span>/ Years</span></div>
                  <ul class="team-info-list">
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111"
                        viewBox="0 0 16.111 16.111">
                        <path data-name="Path 8769"
                          d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                          transform="translate(-438.666 -194.559)" fill="#4298ee" />
                        <path data-name="Path 8770"
                          d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                          transform="translate(-503.037 -273.874)" fill="#4298ee" />
                      </svg>
                      Damage third-party vehicle
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111"
                        viewBox="0 0 16.111 16.111">
                        <path data-name="Path 8769"
                          d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                          transform="translate(-438.666 -194.559)" fill="#4298ee" />
                        <path data-name="Path 8770"
                          d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                          transform="translate(-503.037 -273.874)" fill="#4298ee" />
                      </svg>
                      Own Damage by own fault
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111"
                        viewBox="0 0 16.111 16.111">
                        <path data-name="Path 8769"
                          d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                          transform="translate(-438.666 -194.559)" fill="#4298ee" />
                        <path data-name="Path 8770"
                          d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                          transform="translate(-503.037 -273.874)" fill="#4298ee" />
                      </svg>
                      Damage due to fire
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111"
                        viewBox="0 0 16.111 16.111">
                        <path data-name="Path 8769"
                          d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                          transform="translate(-438.666 -194.559)" fill="#4298ee" />
                        <path data-name="Path 8770"
                          d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                          transform="translate(-503.037 -273.874)" fill="#4298ee" />
                      </svg>
                      Damage third-party vehicle
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111"
                        viewBox="0 0 16.111 16.111">
                        <path data-name="Path 8769"
                          d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                          transform="translate(-438.666 -194.559)" fill="#4298ee" />
                        <path data-name="Path 8770"
                          d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                          transform="translate(-503.037 -273.874)" fill="#4298ee" />
                      </svg>
                      Damage third-party vehicle
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111"
                        viewBox="0 0 16.111 16.111">
                        <path data-name="Path 8769"
                          d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                          transform="translate(-438.666 -194.559)" fill="#4298ee" />
                        <path data-name="Path 8770"
                          d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                          transform="translate(-503.037 -273.874)" fill="#4298ee" />
                      </svg>
                      Damage third-party vehicle
                    </li>
                  </ul>
                  <div class="buton-box text-center">
                    <a class="btn-style-one theme-btn" href="contact.html"><span class="txt">choose plan
                        <i class="fas fa-chevron-circle-right"></i></span></a>
                  </div>
                </div>
              </div>

              <!-- Price Block -->
              <div class="price-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                  <div class="upper-box" style="background-image: url(~/customer-assets/images/resource/price.png)">
                    <h4>standard</h4>
                  </div>
                  <div class="price">$70<span>/ Years</span></div>
                  <ul class="team-info-list">
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111"
                        viewBox="0 0 16.111 16.111">
                        <path data-name="Path 8769"
                          d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                          transform="translate(-438.666 -194.559)" fill="#4298ee" />
                        <path data-name="Path 8770"
                          d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                          transform="translate(-503.037 -273.874)" fill="#4298ee" />
                      </svg>
                      Damage third-party vehicle
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111"
                        viewBox="0 0 16.111 16.111">
                        <path data-name="Path 8769"
                          d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                          transform="translate(-438.666 -194.559)" fill="#4298ee" />
                        <path data-name="Path 8770"
                          d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                          transform="translate(-503.037 -273.874)" fill="#4298ee" />
                      </svg>
                      Own Damage by own fault
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111"
                        viewBox="0 0 16.111 16.111">
                        <path data-name="Path 8769"
                          d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                          transform="translate(-438.666 -194.559)" fill="#4298ee" />
                        <path data-name="Path 8770"
                          d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                          transform="translate(-503.037 -273.874)" fill="#4298ee" />
                      </svg>
                      Damage due to fire
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111"
                        viewBox="0 0 16.111 16.111">
                        <path data-name="Path 8769"
                          d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                          transform="translate(-438.666 -194.559)" fill="#4298ee" />
                        <path data-name="Path 8770"
                          d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                          transform="translate(-503.037 -273.874)" fill="#4298ee" />
                      </svg>
                      Damage third-party vehicle
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111"
                        viewBox="0 0 16.111 16.111">
                        <path data-name="Path 8769"
                          d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                          transform="translate(-438.666 -194.559)" fill="#4298ee" />
                        <path data-name="Path 8770"
                          d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                          transform="translate(-503.037 -273.874)" fill="#4298ee" />
                      </svg>
                      Damage third-party vehicle
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111"
                        viewBox="0 0 16.111 16.111">
                        <path data-name="Path 8769"
                          d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                          transform="translate(-438.666 -194.559)" fill="#4298ee" />
                        <path data-name="Path 8770"
                          d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                          transform="translate(-503.037 -273.874)" fill="#4298ee" />
                      </svg>
                      Damage third-party vehicle
                    </li>
                  </ul>
                  <div class="buton-box text-center">
                    <a class="btn-style-one theme-btn" href="contact.html"><span class="txt">choose plan
                        <i class="fas fa-chevron-circle-right"></i></span></a>
                  </div>
                </div>
              </div>

              <!-- Price Block -->
              <div class="price-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                  <div class="upper-box" style="background-image: url(~/customer-assets/images/resource/price.png)">
                    <h4>premium</h4>
                  </div>
                  <div class="price">$90<span>/ Years</span></div>
                  <ul class="team-info-list">
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111"
                        viewBox="0 0 16.111 16.111">
                        <path data-name="Path 8769"
                          d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                          transform="translate(-438.666 -194.559)" fill="#4298ee" />
                        <path data-name="Path 8770"
                          d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                          transform="translate(-503.037 -273.874)" fill="#4298ee" />
                      </svg>
                      Damage third-party vehicle
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111"
                        viewBox="0 0 16.111 16.111">
                        <path data-name="Path 8769"
                          d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                          transform="translate(-438.666 -194.559)" fill="#4298ee" />
                        <path data-name="Path 8770"
                          d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                          transform="translate(-503.037 -273.874)" fill="#4298ee" />
                      </svg>
                      Own Damage by own fault
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111"
                        viewBox="0 0 16.111 16.111">
                        <path data-name="Path 8769"
                          d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                          transform="translate(-438.666 -194.559)" fill="#4298ee" />
                        <path data-name="Path 8770"
                          d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                          transform="translate(-503.037 -273.874)" fill="#4298ee" />
                      </svg>
                      Damage due to fire
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111"
                        viewBox="0 0 16.111 16.111">
                        <path data-name="Path 8769"
                          d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                          transform="translate(-438.666 -194.559)" fill="#4298ee" />
                        <path data-name="Path 8770"
                          d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                          transform="translate(-503.037 -273.874)" fill="#4298ee" />
                      </svg>
                      Damage third-party vehicle
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111"
                        viewBox="0 0 16.111 16.111">
                        <path data-name="Path 8769"
                          d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                          transform="translate(-438.666 -194.559)" fill="#4298ee" />
                        <path data-name="Path 8770"
                          d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                          transform="translate(-503.037 -273.874)" fill="#4298ee" />
                      </svg>
                      Damage third-party vehicle
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111"
                        viewBox="0 0 16.111 16.111">
                        <path data-name="Path 8769"
                          d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                          transform="translate(-438.666 -194.559)" fill="#4298ee" />
                        <path data-name="Path 8770"
                          d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                          transform="translate(-503.037 -273.874)" fill="#4298ee" />
                      </svg>
                      Damage third-party vehicle
                    </li>
                  </ul>
                  <div class="buton-box text-center">
                    <a class="btn-style-one theme-btn" href="contact.html"><span class="txt">choose plan
                        <i class="fas fa-chevron-circle-right"></i></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Pricing Section -->

      <!-- CTA Section -->
      <section class="cta-section">
        <div class="auto-container">
          <div class="inner-container" style="background-image: url('@Url.Content("~/customer-assets/images/background/pattern-5.png")')">
            <div class="row clearfix">
              <!-- Title Column -->
              <div class="title-column col-lg-5 col-md-12 col-sm-12">
                <div class="inner-column">
                  <h3>Let us take care about your veicle</h3>
                </div>
              </div>

              <!-- Form Column -->
              <div class="form-column col-lg-7 col-md-12 col-sm-12">
                <div class="inner-column">
                  <div class="newsletter-form">
                    <form method="post" action="https://themeim.com/demo/carsore/contact.html">
                      <div class="form-group">
                        <span class="icon fa fa-envelope"></span>
                        <input type="email" name="email" value="" placeholder="Enter your mail" required="" />
                        <button type="submit" class="theme-btn flaticon-send"></button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End CTA Section -->